.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.allImgContainer {
    font-family: "Helvetica Neue";
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgViewer img{
    height: 50%;
    width: 50%;
    cursor: pointer;
}

.leftIcon, .rightIcon {
    padding: 10px;
    color: black;
    font-size: 2em;
    display: inline-block;
    cursor: pointer;
}

.allImgContainer img {
    height: 200px;
    width: 300px;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
}