.header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  ul {
    margin: 1em;
    padding: 1em;
    list-style-type: none;
  }


  ul li {
    display: inline;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px 2px #eee;
    margin: 0.5em;
  }
}

