.header {
  font-family: "Helvetica Neue";
  color: darkred;
  font-weight: lighter;
  font-size: 5em;
  align-content: center;
  text-align: center;
}

.container {
  align-content: center;
  text-align: center;
  #enter {
    min-width: 30em;
    height: 3em;
    border: 0.15em solid #eeeeee;
    border-radius: 0.25em;
    box-shadow: 2px 2px 5px 2px #eeeeee;
    background-color: white;
    padding-left: 1em;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
  }
  #enter::placeholder {
    color: #cdcdcd;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 1em;
  }
  #enter:focus {
    outline: none;
  }
  #enter::selection {
    outline: none;
  }
}

.summary {
  min-width: 30em;
  height: 1em;
  padding: 1em;
  color: gray;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .lhs {
    width: 50%;
    align-self: flex-start;
    order: 1;
  }
  .rhs {
    width: 50%;
    align-self: flex-start;
    order: 2;
    button {
      font-family: "Helvetica Neue";
      border: none;
      background-color: transparent;
      color: gray;
      font-size: 0.9em;
    }
    button:focus {
      border: 1px solid darkred;
      border-radius: 5px;
    }
  }
}
