.header {
  font-family: "Helvetica Neue";
  color: darkred;
  font-weight: lighter;
  font-size: 5em;
  margin-top: -1em;
  opacity: 70%;
}

.container {
  margin-top:5px;
  //padding-top: 0;

  #enter {
    min-width: 30em;
    height: 3em;
    border: 0.15em solid #eeeeee;
    border-radius: 0.25em;
    box-shadow: 2px 2px 5px 2px #eeeeee;
    background-color: white;
    padding-left: 1em;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
  }

  #enter::placeholder {
    color: #cdcdcd;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 1em;
  }

  #enter:focus {
    border: 0.15em solid #eeeeee;;
  }
}

